/****************Variables*************************/
$font-color: #393939;

$blue-color: #62A5CF;
$light-blue: #6FC7CB;
$turquoise-color: #4FE3C1;

$gray: #333333;
$off-white-bg: #f7f7f7;

$body-font: 'ProximaNova-Regular', sans-serif;
$heading-font:'Ubuntu', sans-serif;
$lato-font: 'Lato', sans-serif;
$ubuntu-font: 'Ubuntu', sans-serif;

$xs-small-device: 400px;
$small-device: 768px;
$medium-device: 992px;
$large-device: 1200px;
$xt-large-device: 1366px;


/****************Custom fonts*************************/


@font-face {
  font-family: 'ProximaNova-Light';
  src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/ProximaNova-Light.otf')  format('opentype'),
     url('../fonts/ProximaNova-Light.woff') format('woff'), 
     url('../fonts/ProximaNova-Light.ttf')  format('truetype'), 
     url('../fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/ProximaNova-Regular.otf')  format('opentype'),
     url('../fonts/ProximaNova-Regular.woff') format('woff'), 
     url('../fonts/ProximaNova-Regular.ttf')  format('truetype'), 
     url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


/****************Mixins*************************/

@mixin box-shadow($boxshadow) {
     -moz-box-shadow: $boxshadow;
      -webkit-box-shadow: $boxshadow;
          box-shadow: $boxshadow;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin mobile {
  @media (max-width: #{$xs-small-device}) {
    @content;
  }
}

@mixin mobile-landscape {
  @media (max-width: #{$small-device - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$small-device}) and (max-width: #{$medium-device - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$medium-device}) {
    @content;
  }
}

@mixin lg-desktop {
  @media (min-width: #{$large-device}) {
    @content;
  }
}

@mixin xt-lg-desktop {
  @media (min-width: #{$xt-large-device}) {
    @content;
  }
}



/****************global*************************/

html {
	font-size: 16px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
	line-height: 1.4;
  font-weight: 400;
}

body {
	font-family: $body-font;
	font-size:1rem;
  padding-top: 0;
	background-color: #fff;
	line-height: 1.4;
	color: $font-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility !important;

	a {
		outline: none;
		outline-color: transparent !important;
    color: $light-blue;

		&:hover, &:focus {
			text-decoration: none;
      color: darken($light-blue, 10%);
		}
	}
}

.btn {
  @include border-radius(20px);
  padding: 10px 25px;
  text-transform: uppercase;
  font-family: $ubuntu-font;
  font-weight: 700;
  border-width: 2px;
  border-style: solid;
  transition: all 0.4s ease;

  &.btn-primary {
    background-color: transparent;
    border-color: $light-blue;
    color: $light-blue;

    &:hover {
      background-color: $light-blue;
      color: #fff;
    }

    &.inverse {
      background-color: $light-blue;
      color: #fff;
      &:hover {
        background-color: darken($light-blue, 10%);
        border-color: darken($light-blue, 10%);
      }
    } 
  }

  &.btn-info {
    background-color: transparent;
    border-color: #fff;
    color: #fff;

    &:hover {
      background-color: #fff;
      color: $font-color;
    } 
  }
}

body.site-body section.dark, body.site-body div.dark {
  background: $gray;
  color: #fff;
}

body.sticky-on {
  padding-top: 0px;
}

body.sticky-off {
  padding-top: 0px;
}

.nav-pills li a {
  @include border-radius(0);
  color: $font-color;
}

.nav-pills li.active a, .nav-pills li.active a:hover,
.nav-pills li.active a:focus{
  background-color: $light-blue;
}


ul.nav.nav-bordered {

    @include mobile-landscape {
      text-align: center;
    }

    li {
      margin-top: 0;

      @include mobile-landscape {
        display: inline-block;
        margin: 5px;
      }
    }

    a {
      background-color: transparent;
      color: $font-color;
      font-size: 1.1rem;
      border-right: 1px solid #e1e1e1;
      border-bottom: 1px solid #e1e1e1;
      @include border-radius(0);

      @include mobile-landscape {
        background-color: #e1e1e1;
        border: none;

        &:hover {
          background-color: $light-blue;
          color: #fff;
        }
      }
    }

    li.active a{
      border-right: none;
      border-left: 5px solid #e1e1e1;

      @include mobile-landscape {
        background-color: $light-blue;
        border: none;
        color: #fff;
      }

      &:hover, &:focus {
        background-color: transparent;
        color: $font-color;

        @include mobile-landscape {
          background-color: $light-blue;
          color: #fff;
        }
      }
    }
  }

/*************************header*************************/

header.site-head {
  .htop {
    border-bottom: 1px solid #F1F1F1;
    padding: 10px 0;
    font-size: 0.8rem;
    color: lighten($font-color, 20%);

    .right, .flag {
      display: inline-block;
      margin: 0 15px;
    }

    .right #menu-social-menu {
      margin: 0 0 0 10px;
      padding:0;

      li {
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    .flag {
      margin-right: 0;

      .dropdown img {
        max-width: 22px;
      }

      .dropdown-menu {
        min-width: auto;
        padding: 3px 0;

        li a {
          padding: 3px 10px;
          border-bottom: 1px solid #ededed;
        }
      }
    }

    .flag button {
      border: none;
      padding: 0;
      background-color: transparent;

      &:before {
        content: "|";
        color: #888;
        position: absolute;
        left: -26px;
        padding: 0 5px;
        font-size: 1.5rem;
        line-height: 1;
      }
    }

    ul.list-inline{
      margin-bottom: 0;
    }

    a {
      color: lighten($font-color, 20%);
      transition: all 0.4s ease;

      &:hover {
        color: darken($font-color, 30%);
      }
    }
  }

  .hbottom {
    font-size:0.9rem;

    &.affix {
      width: 100%;
      top: 0;
      z-index: 9999;
      @include box-shadow(0 0 1px rgba(0,0,0,0.1));
    }

    nav.navbar {
      border: none;
      background-color: #fff;
      margin-bottom: 0;
      padding: 5px 0;
      border-bottom: 1px solid #f1f1f1;
      @include border-radius(0);
    }

    .navbar-brand {
      height: auto;
    }

    .navbar-nav {

      margin-top: 18px;

      @include mobile-landscape {
        padding: 0 10px;
        margin-top: 5px;
      }

      @include tablet {
        padding: 0 10px;
        margin-top: 5px;
      }

      > li a {
        padding: 0 0 3px 0;
        margin: 5px 7px;
        color: $font-color;

        @include lg-desktop {
          margin: 5px 13px;
        }

        @include mobile-landscape {
          font-size: 1rem;
          padding: 7px 0;
        }

        @include tablet {
          font-size: 1rem;
          padding: 7px 0;
        }

        &:after {
          background: $light-blue none repeat scroll 0 0;
          content: "";
          height: 1px;
          left: 0;
          opacity: 0;
          position: absolute;
          top: 100%;
          transform: translateY(-10px);
          transition: height 0.3s ease 0s, opacity 0.3s ease 0s, transform 0.3s ease 0s;
          width: 100%;

          @include mobile-landscape {
            display: none;
          }

          @include tablet {
            display: none;
          }
        }
      }
    }

    .navbar-nav > li:hover a {
      &:after {
        height: 2px;
        opacity: 1;
        transform: translateY(0px);
      }
    }

    .navbar-nav > li.active a, .navbar-nav > li.active a:hover,
    .navbar-nav > li.active a:focus {
      background-color: transparent;
      color: $light-blue;

      @include mobile-landscape {
        font-weight: 700;
      }

      @include tablet {
        font-weight: 700;
      }

       &:after {
        background: $light-blue none repeat scroll 0 0;
        content: "";
        height: 2px;
        left: 0;
        opacity: 1;
        position: absolute;
        top: 100%;
        transform: translateY(0px);
        transition: height 0.3s ease 0s, opacity 0.3s ease 0s, transform 0.3s ease 0s;
        width: 100%;

        @include mobile-landscape {
          display: none;
        }

        @include tablet {
          display: none;
        }
      }



    }

    .navbar-nav > li.open a {
      background-color: transparent;

      &:hover, &:focus {
        background-color: transparent;
      }
    }

    .dropdown-menu li a:after {
      content: "";
      display: none;
    }

    .dropdown-menu li a {
      margin: 0;
      padding: 5px 10px;

      &:hover {
        background-color: $light-blue !important;
        color: #fff;
      }
    }

    .navbar-toggle {
      margin-top: 15px;
      border: none;

      &:hover, &:focus {
        background-color: transparent;
      }

      .icon-bar {
        background-color: $light-blue;
        height: 3px;
        width: 30px;
        transition: all 0.4s ease;
      }

      .icon-bar + .icon-bar {
        margin-top: 7px;
      }
    }

    .navbar-toggle.collapsed {
      .icon-bar + .icon-bar {
        margin-top: 5px;
      }
    }        

  }

}


/**************Changing collapsing menu breakpoint**********************/
@media (max-width: 992px) {

  .navbar-header {
    float: none; }


  .navbar-toggle {
    display: block; }


  .navbar-collapse {
    border-top: 1px solid transparent;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }


  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px; }


  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  form.navbar-form {
    float: none !important; }

  /* since 3.1.0 */

  .navbar-collapse.collapse.in {
    display: block !important; }

  .collapsing {
    overflow: hidden !important; }

  /* menu collapsee css end*/ 
}



/*********************section hero home**************************/

section.hero.cover {
  background-color: $blue-color;
  overflow: hidden
}



/****************section intro home****************************/

section.introline {
  padding: 25px 0;
  .h3 {
    font-family: $ubuntu-font;
    margin: 5px 0 0;

    @include mobile-landscape {
      font-size: 1.2rem;
    }
  }

  .more {
    @include mobile-landscape {
      text-align: center;
      margin-top: 15px;
    }
  }
}

/****************section feed****************************/


section.feed {  
  overflow: hidden;

  .container-fluid {
    padding: 0;
  }

  .flex-wrap{
    overflow: hidden;    
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; 
    -webkit-flex-flow: row wrap; 
        -ms-flex-flow: row wrap; 
            flex-flow: row wrap;

    @include mobile-landscape {
      -webkit-flex-flow: column wrap; 
        -ms-flex-flow: column wrap; 
            flex-flow: column wrap;
    }

    .flex-item {
      min-height: 500px;
      max-height: 500px;
      position: relative;
      background-color: #333;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      color: #fff; 
      overflow: hidden;     
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;            

      
      @include mobile-landscape {
        min-height: 300px;
        max-height: 300px;
      }

      .caption {
        position: absolute;
        background-color: rgba(0,0,0,0.5);
        bottom: 0;
        padding: 25px 40px;
        width: 100%;

        @include mobile-landscape {
          padding: 15px 25px;
          background-color: rgba(0,0,0,0.7);
        }

        .item-title {
          margin: 10px 0;
          font-weight: 700;
          font-size: 1.4rem;

          a {
            color: #fff;
          }

          @include lg-desktop {
            font-size: 1.8rem;
          }

          @include mobile-landscape {
            font-size: 1.2rem;
          }

          @include tablet {
            font-size: 1.2rem;
          }
        }

        .excerpt {
          font-size: 1.1rem;
          

          @include desktop {
            transition: all 0.7s ease-in-out;
            opacity: 0; 
            max-height: 0;
            overflow: hidden;            
          }

          @include mobile-landscape {
            display: none;
          }

          @include tablet {
            display: none;
          }
        }
      }

    }

    .one {      
      background-color: green;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;

      @include desktop {
        -webkit-box-flex: 2;
        -webkit-flex: 2;
          -ms-flex: 2;
              flex: 2;
      }

      &:hover {
        .caption .excerpt {
          opacity: 1;
          height: auto;
          max-height: 400px;
        }
      }
    }

    .two {      
      background-color: red;

      &:hover {
        .caption .excerpt {
          opacity: 1;
          height: auto;
          max-height: 400px;
        }
      }
    }

    .three {
      background-color: #101010;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;

      .flex-inner-wrap {        
        height: 500px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: column wrap;
            -ms-flex-flow: column wrap;
                flex-flow: column wrap;

        @include mobile-landscape {
          height: 300px;
        }         
      }

      .flex-inner {
        height: 50%;
        overflow: hidden;
        position: relative;
          -webkit-box-flex: 1;
          -webkit-flex: 1 0;
              -ms-flex: 1 0;
                  flex: 1 0;

          &.col1 {
            background-color: #202020;
          

            .txt-table {
              display: table;
              height: 100%;

              .txt-cell {
                display: table-cell;
                vertical-align: middle;
                padding: 0 10%;

                p {
                  font-family: $heading-font;
                  font-size: 1.4rem;

                  @include mobile-landscape {
                    font-size: 1.1rem;
                  }
                }
              }
            }
          }
          
          &.col2 {
            
          }
  
        }      
    }
  }
}


/****************section what we do***************************/

section.what-we-do {
  padding: 60px 0;
  background-color: $off-white-bg;

  .title-wrap .h1 {
    font-weight: 700;
    max-width: 50%;
    margin: 20px auto;

    @include mobile-landscape{
      max-width: 100%;
    }

    @include tablet {
      max-width: 80%;
    }
  }

  .title-wrap .divider {
    height: 1px;
    width: 100%;
    background: #e1e1e1;
    display: block;
    max-width: 700px;
    margin: 40px auto;

    &:after {
      content: "";
      width: 60px;
      height: 7px;
      display: block;
      background-color: $light-blue;
      margin: auto;
      position: relative;
      top: -3px;
    }
  }

  .tab-row {
    padding: 30px 0;
  }

  ul.nav {

    @include mobile-landscape {
      text-align: center;
    }

    li {
      margin-top: 0;

      @include mobile-landscape {
        display: inline-block;
        margin: 5px;
      }
    }

    a {
      background-color: transparent;
      color: $font-color;
      font-size: 1.1rem;
      border-right: 1px solid #e1e1e1;
      border-bottom: 1px solid #e1e1e1;
      @include border-radius(0);

      @include mobile-landscape {
        background-color: #e1e1e1;
        border: none;

        &:hover {
          background-color: $light-blue;
          color: #fff;
        }
      }
    }

    li.active a{
      border-right: none;
      border-left: 5px solid #e1e1e1;

      @include mobile-landscape {
        background-color: $light-blue;
        border: none;
        color: #fff;
      }

      &:hover, &:focus {
        background-color: transparent;
        color: $font-color;

        @include mobile-landscape {
          background-color: $light-blue;
          color: #fff;
        }
      }
    }
  }

  .tab-content {

    @include mobile-landscape {
      padding: 25px 0;
    }

    .txt{
      .h5 {
        text-transform: uppercase;
        font-size: 1.1rem;
      }

      .desc {
        font-size: 1.2rem;
      }
    }
  }

}

/****************section journey***************************/

section.journey {
  padding-bottom: 60px;

  .journey-head {
    padding: 25px 0;

    .h3 {
      margin: 0;
      font-weight: 700; 
      @include mobile-landscape {
        text-align: center;
      }     
    }

    ul.nav {
      border: none;
      float: right;

      @include mobile-landscape {
        float: none;
        margin-top: 15px;
        text-align: center;
      }


      li {
        margin: 0;

        @include mobile-landscape {
          display: inline-block;
          float: none;
          margin: 5px;
        }

        a {
          color: #fff;
          border: none;
          padding: 5px 15px;
          font-size: 1.2rem;
          margin-left: 15px;
          @include border-radius(0);

          @include mobile-landscape {
            background-color: rgba(0,0,0,0.15);
            font-size: 1rem;
            margin-left:0px;            
          }

          @include tablet {
            margin-left: 5px;
          }

          &:hover, &:focus {
            background-color: transparent;
            color: $light-blue;

            @include mobile-landscape {
              background-color: rgba(0,0,0,0.15);
            }
          }

        }
      }

      li.active {
        a {
          background-color: transparent;
          color: $light-blue;
          font-weight: 700;

          &:after {
            content:"";            
            display: block;
            width: 0; 
            height: 0; 
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;            
            border-bottom: 12px solid #fff;
            position: absolute;
            top: 51px;
            left: 35%;
          }

          @include tablet {
            &:after {
              display: none;
            } 
          }

          @include mobile-landscape {
            background-color: $light-blue;
            color: #fff; 
            font-weight: 400; 

            &:after {
              display: none;
            }          
          }
        }
      }
    }
  }

  
  .journey-content{
    padding: 80px 0 60px;

    .tab-pane {

      .h1.title {
        margin: 20px 0;
        font-weight: 500;
      }

      .txt {
        font-size: 1.1rem;
      }

      img {
        float: right;

        @include mobile-landscape {
          float: none;
          margin: 10px auto 40px;
        }
      }
    }
  }


}



/****************section business***************************/

section.business {
  .one-col, .two-col {
    padding: 0;
  }

  figure.fig {
    position: relative;
    transition: all 0.4s ease-in-out;
    overflow: hidden;

    .img img {
      -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

    &:hover .img img {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1);
    }

        
    figcaption {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;

      .cap-table {
        display: table;
        height: 100%;
        width: 100%;
      }

      .cap-wrap {
        display: table-cell;
        padding: 0 10%;
        vertical-align: middle;
        color: #fff;

        @include mobile-landscape {
          padding: 0 5%;
        }

        @include tablet {
          padding: 0 8%;
        }

        @include lg-desktop {
          padding: 0 15%;
        }

        h3 {
          font-weight: 500;
          font-size: 2.2rem;
          margin: 5px 0;
          line-height: 1.2;
          transition: all 0.4s ease;

          @include mobile-landscape {
            font-size: 1.8rem;
          }

          @include tablet {
            font-size: 2rem;
          }

          @include lg-desktop {
            font-size: 3.5rem;
          }
        }

        .txt {
          font-size: 1.2rem;
          max-width: 80%;
          margin-bottom: 30px;
          transition: all 0.4s ease;

          @include mobile-landscape {
            font-size: 1.2rem;
            max-width: 100%;
            margin-bottom: 10px;
          }

          @include tablet {
            font-size: 1.2rem;
            max-width: 100%;
            margin-bottom: 10px;
          }

          @include lg-desktop {
            max-width: 70%;
          }
        }
      }
    }

  }
}


/***************Footer*************************/

footer.site-footer {
  
  margin-top: 40px;

  .foot-up {
    color: #fff;
    background-color:#393939;
    padding: 40px 0;

    .widget {
      .widget-title.h3 {
        font-weight: 500;
        font-size: 1.3em;
        margin-bottom: 20px;
      }

      ul.menu {
        padding-left: 0;
        list-style: none;
      }

      a {
        color: #fff;
        transition: all 0.4s ease;
        &:hover {
          color: darken(#ffffff, 20%);
        }
      }

      form.signup {
        input {
          background-color: transparent;
          color: #fff;
          border: 2px solid #fff;
          padding: 10px 20px;
          font-family: $heading-font;
          height: auto;
          border-right: 0;
          @include border-radius(20px 0 0 20px);
        }
      }
    }
  }

  .foot-tech {
    padding: 20px 0;
    background-color: #2F2F2F;
    color: #fff;

    .tech-prod .item {
      margin: 0 15px;

      img {
        -webkit-filter: grayscale(1) brightness(2);
        filter: grayscale(1) brightness(2);
        transition: all 0.4s ease;

        &:hover {
          -webkit-filter:none;
          filter: none;
        }
      }
    }
  }

  .foot-copy {
    padding: 25px 0;
    background-color: #242424;
    color: #fff;

    @include mobile-landscape {
      padding: 15px 0;
    }

    p {
      margin-bottom: 0;
      font-size: 0.85rem;

      @include mobile-landscape {
        text-align: center;
        margin: 5px 0;
      }
    }
  }
}

/************************Site inner pages***********************************/

section.inner-page-title {
  padding: 20px 0;
  margin-bottom: 40px;
  h1.sec-title {
    margin: 10px 0;
    font-size: 1.6rem;
  }

  .breadcrumbs {
    ul {
      margin: 20px 0 0 0;
      text-align: right;

      @include mobile-landscape {
        text-align: left;
      }
    }

    li a {
      color: #fff;
    }
  }

}


.main-wrap .page-content {
  img {
    margin: 20px 0;
  }

  p {
    font-size: 1.1rem;
    margin-bottom: 20px;
  }

  .active-title .txt {
    text-transform: uppercase;
    font-family: $heading-font;
  }

  article.list-item{
    border-bottom: 1px solid #ededed;
    margin-bottom: 20px;

    .title {
      font-weight: 700;
    }
  }
}


.main-wrap aside.site-sidebar {

    .widget {
      margin-bottom: 40px;
      background-color: #E9E9E9;

      &.content-area {
        background-color: transparent;
      }

      .widget-title {
        background-color: $gray;
        color: #fff;
        padding: 20px 30px;

        @include mobile-landscape {
          padding: 15px;
        }

        h3{
          margin: 0;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.2;

          @include mobile-landscape {
            font-size: 1.2rem;
          }
        }
      }

      .widget-content {
        .txt {
          padding: 20px;
        }

        form {
          margin: 20px 0;

          input {
            border-color: $font-color;
            border-width: 2px;
            @include border-radius(20px);
            background-color: transparent;
            height: auto;
            padding: 10px 20px;
            color: $font-color;
          }
        }

        p {
          font-size: 1.1rem;
        }
      }

    }

}
