/****************Variables*************************/
/****************Custom fonts*************************/
@font-face {
  font-family: 'ProximaNova-Light';
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.otf") format("opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype"), url("../fonts/ProximaNova-Light.svg#ProximaNova-Light") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.otf") format("opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/****************Mixins*************************/
/****************global*************************/
/* line 104, ../sass/app.scss */
html {
  font-size: 16px;
}

/* line 108, ../sass/app.scss */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", sans-serif;
  line-height: 1.4;
  font-weight: 400;
}

/* line 114, ../sass/app.scss */
body {
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: 1rem;
  padding-top: 0;
  background-color: #fff;
  line-height: 1.4;
  color: #393939;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility !important;
}
/* line 125, ../sass/app.scss */
body a {
  outline: none;
  outline-color: transparent !important;
  color: #6fc7cb;
}
/* line 130, ../sass/app.scss */
body a:hover, body a:focus {
  text-decoration: none;
  color: #4ab8bd;
}

/* line 137, ../sass/app.scss */
.btn {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  padding: 10px 25px;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  border-width: 2px;
  border-style: solid;
  transition: all 0.4s ease;
}
/* line 147, ../sass/app.scss */
.btn.btn-primary {
  background-color: transparent;
  border-color: #6fc7cb;
  color: #6fc7cb;
}
/* line 152, ../sass/app.scss */
.btn.btn-primary:hover {
  background-color: #6fc7cb;
  color: #fff;
}
/* line 157, ../sass/app.scss */
.btn.btn-primary.inverse {
  background-color: #6fc7cb;
  color: #fff;
}
/* line 160, ../sass/app.scss */
.btn.btn-primary.inverse:hover {
  background-color: #4ab8bd;
  border-color: #4ab8bd;
}
/* line 167, ../sass/app.scss */
.btn.btn-info {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
/* line 172, ../sass/app.scss */
.btn.btn-info:hover {
  background-color: #fff;
  color: #393939;
}

/* line 179, ../sass/app.scss */
body.site-body section.dark, body.site-body div.dark {
  background: #333333;
  color: #fff;
}

/* line 184, ../sass/app.scss */
body.sticky-on {
  padding-top: 0px;
}

/* line 188, ../sass/app.scss */
body.sticky-off {
  padding-top: 0px;
}

/* line 192, ../sass/app.scss */
.nav-pills li a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  color: #393939;
}

/* line 198, ../sass/app.scss */
.nav-pills li.active a, .nav-pills li.active a:hover,
.nav-pills li.active a:focus {
  background-color: #6fc7cb;
}

@media (max-width: 767px) {
  /* line 203, ../sass/app.scss */
  ul.nav.nav-bordered {
    text-align: center;
  }
}
/* line 209, ../sass/app.scss */
ul.nav.nav-bordered li {
  margin-top: 0;
}
@media (max-width: 767px) {
  /* line 209, ../sass/app.scss */
  ul.nav.nav-bordered li {
    display: inline-block;
    margin: 5px;
  }
}
/* line 218, ../sass/app.scss */
ul.nav.nav-bordered a {
  background-color: transparent;
  color: #393939;
  font-size: 1.1rem;
  border-right: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
@media (max-width: 767px) {
  /* line 218, ../sass/app.scss */
  ul.nav.nav-bordered a {
    background-color: #e1e1e1;
    border: none;
  }
  /* line 230, ../sass/app.scss */
  ul.nav.nav-bordered a:hover {
    background-color: #6fc7cb;
    color: #fff;
  }
}
/* line 237, ../sass/app.scss */
ul.nav.nav-bordered li.active a {
  border-right: none;
  border-left: 5px solid #e1e1e1;
}
@media (max-width: 767px) {
  /* line 237, ../sass/app.scss */
  ul.nav.nav-bordered li.active a {
    background-color: #6fc7cb;
    border: none;
    color: #fff;
  }
}
/* line 247, ../sass/app.scss */
ul.nav.nav-bordered li.active a:hover, ul.nav.nav-bordered li.active a:focus {
  background-color: transparent;
  color: #393939;
}
@media (max-width: 767px) {
  /* line 247, ../sass/app.scss */
  ul.nav.nav-bordered li.active a:hover, ul.nav.nav-bordered li.active a:focus {
    background-color: #6fc7cb;
    color: #fff;
  }
}

/*************************header*************************/
/* line 262, ../sass/app.scss */
header.site-head .htop {
  border-bottom: 1px solid #F1F1F1;
  padding: 10px 0;
  font-size: 0.8rem;
  color: #6c6c6c;
}
/* line 268, ../sass/app.scss */
header.site-head .htop .right, header.site-head .htop .flag {
  display: inline-block;
  margin: 0 15px;
}
/* line 273, ../sass/app.scss */
header.site-head .htop .right #menu-social-menu {
  margin: 0 0 0 10px;
  padding: 0;
}
/* line 277, ../sass/app.scss */
header.site-head .htop .right #menu-social-menu li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
/* line 284, ../sass/app.scss */
header.site-head .htop .flag {
  margin-right: 0;
}
/* line 287, ../sass/app.scss */
header.site-head .htop .flag .dropdown img {
  max-width: 22px;
}
/* line 291, ../sass/app.scss */
header.site-head .htop .flag .dropdown-menu {
  min-width: auto;
  padding: 3px 0;
}
/* line 295, ../sass/app.scss */
header.site-head .htop .flag .dropdown-menu li a {
  padding: 3px 10px;
  border-bottom: 1px solid #ededed;
}
/* line 302, ../sass/app.scss */
header.site-head .htop .flag button {
  border: none;
  padding: 0;
  background-color: transparent;
}
/* line 307, ../sass/app.scss */
header.site-head .htop .flag button:before {
  content: "|";
  color: #888;
  position: absolute;
  left: -26px;
  padding: 0 5px;
  font-size: 1.5rem;
  line-height: 1;
}
/* line 318, ../sass/app.scss */
header.site-head .htop ul.list-inline {
  margin-bottom: 0;
}
/* line 322, ../sass/app.scss */
header.site-head .htop a {
  color: #6c6c6c;
  transition: all 0.4s ease;
}
/* line 326, ../sass/app.scss */
header.site-head .htop a:hover {
  color: black;
}
/* line 332, ../sass/app.scss */
header.site-head .hbottom {
  font-size: 0.9rem;
}
/* line 335, ../sass/app.scss */
header.site-head .hbottom.affix {
  width: 100%;
  top: 0;
  z-index: 9999;
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
/* line 342, ../sass/app.scss */
header.site-head .hbottom nav.navbar {
  border: none;
  background-color: #fff;
  margin-bottom: 0;
  padding: 5px 0;
  border-bottom: 1px solid #f1f1f1;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
/* line 351, ../sass/app.scss */
header.site-head .hbottom .navbar-brand {
  height: auto;
}
/* line 355, ../sass/app.scss */
header.site-head .hbottom .navbar-nav {
  margin-top: 18px;
}
@media (max-width: 767px) {
  /* line 355, ../sass/app.scss */
  header.site-head .hbottom .navbar-nav {
    padding: 0 10px;
    margin-top: 5px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 355, ../sass/app.scss */
  header.site-head .hbottom .navbar-nav {
    padding: 0 10px;
    margin-top: 5px;
  }
}
/* line 369, ../sass/app.scss */
header.site-head .hbottom .navbar-nav > li a {
  padding: 0 0 3px 0;
  margin: 5px 7px;
  color: #393939;
}
@media (min-width: 1200px) {
  /* line 369, ../sass/app.scss */
  header.site-head .hbottom .navbar-nav > li a {
    margin: 5px 13px;
  }
}
@media (max-width: 767px) {
  /* line 369, ../sass/app.scss */
  header.site-head .hbottom .navbar-nav > li a {
    font-size: 1rem;
    padding: 7px 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 369, ../sass/app.scss */
  header.site-head .hbottom .navbar-nav > li a {
    font-size: 1rem;
    padding: 7px 0;
  }
}
/* line 388, ../sass/app.scss */
header.site-head .hbottom .navbar-nav > li a:after {
  background: #6fc7cb none repeat scroll 0 0;
  content: "";
  height: 1px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 100%;
  transform: translateY(-10px);
  transition: height 0.3s ease 0s, opacity 0.3s ease 0s, transform 0.3s ease 0s;
  width: 100%;
}
@media (max-width: 767px) {
  /* line 388, ../sass/app.scss */
  header.site-head .hbottom .navbar-nav > li a:after {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 388, ../sass/app.scss */
  header.site-head .hbottom .navbar-nav > li a:after {
    display: none;
  }
}
/* line 412, ../sass/app.scss */
header.site-head .hbottom .navbar-nav > li:hover a:after {
  height: 2px;
  opacity: 1;
  transform: translateY(0px);
}
/* line 420, ../sass/app.scss */
header.site-head .hbottom .navbar-nav > li.active a, header.site-head .hbottom .navbar-nav > li.active a:hover,
header.site-head .hbottom .navbar-nav > li.active a:focus {
  background-color: transparent;
  color: #6fc7cb;
}
@media (max-width: 767px) {
  /* line 420, ../sass/app.scss */
  header.site-head .hbottom .navbar-nav > li.active a, header.site-head .hbottom .navbar-nav > li.active a:hover,
  header.site-head .hbottom .navbar-nav > li.active a:focus {
    font-weight: 700;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 420, ../sass/app.scss */
  header.site-head .hbottom .navbar-nav > li.active a, header.site-head .hbottom .navbar-nav > li.active a:hover,
  header.site-head .hbottom .navbar-nav > li.active a:focus {
    font-weight: 700;
  }
}
/* line 432, ../sass/app.scss */
header.site-head .hbottom .navbar-nav > li.active a:after, header.site-head .hbottom .navbar-nav > li.active a:hover:after,
header.site-head .hbottom .navbar-nav > li.active a:focus:after {
  background: #6fc7cb none repeat scroll 0 0;
  content: "";
  height: 2px;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 100%;
  transform: translateY(0px);
  transition: height 0.3s ease 0s, opacity 0.3s ease 0s, transform 0.3s ease 0s;
  width: 100%;
}
@media (max-width: 767px) {
  /* line 432, ../sass/app.scss */
  header.site-head .hbottom .navbar-nav > li.active a:after, header.site-head .hbottom .navbar-nav > li.active a:hover:after,
  header.site-head .hbottom .navbar-nav > li.active a:focus:after {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 432, ../sass/app.scss */
  header.site-head .hbottom .navbar-nav > li.active a:after, header.site-head .hbottom .navbar-nav > li.active a:hover:after,
  header.site-head .hbottom .navbar-nav > li.active a:focus:after {
    display: none;
  }
}
/* line 457, ../sass/app.scss */
header.site-head .hbottom .navbar-nav > li.open a {
  background-color: transparent;
}
/* line 460, ../sass/app.scss */
header.site-head .hbottom .navbar-nav > li.open a:hover, header.site-head .hbottom .navbar-nav > li.open a:focus {
  background-color: transparent;
}
/* line 465, ../sass/app.scss */
header.site-head .hbottom .dropdown-menu li a:after {
  content: "";
  display: none;
}
/* line 470, ../sass/app.scss */
header.site-head .hbottom .dropdown-menu li a {
  margin: 0;
  padding: 5px 10px;
}
/* line 474, ../sass/app.scss */
header.site-head .hbottom .dropdown-menu li a:hover {
  background-color: #6fc7cb !important;
  color: #fff;
}
/* line 480, ../sass/app.scss */
header.site-head .hbottom .navbar-toggle {
  margin-top: 15px;
  border: none;
}
/* line 484, ../sass/app.scss */
header.site-head .hbottom .navbar-toggle:hover, header.site-head .hbottom .navbar-toggle:focus {
  background-color: transparent;
}
/* line 488, ../sass/app.scss */
header.site-head .hbottom .navbar-toggle .icon-bar {
  background-color: #6fc7cb;
  height: 3px;
  width: 30px;
  transition: all 0.4s ease;
}
/* line 495, ../sass/app.scss */
header.site-head .hbottom .navbar-toggle .icon-bar + .icon-bar {
  margin-top: 7px;
}
/* line 501, ../sass/app.scss */
header.site-head .hbottom .navbar-toggle.collapsed .icon-bar + .icon-bar {
  margin-top: 5px;
}

/**************Changing collapsing menu breakpoint**********************/
@media (max-width: 992px) {
  /* line 514, ../sass/app.scss */
  .navbar-header {
    float: none;
  }

  /* line 518, ../sass/app.scss */
  .navbar-toggle {
    display: block;
  }

  /* line 522, ../sass/app.scss */
  .navbar-collapse {
    border-top: 1px solid transparent;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  /* line 529, ../sass/app.scss */
  .navbar-collapse.collapse {
    display: none !important;
  }

  /* line 532, ../sass/app.scss */
  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }

  /* line 537, ../sass/app.scss */
  .navbar-nav > li {
    float: none;
  }

  /* line 540, ../sass/app.scss */
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /* line 544, ../sass/app.scss */
  form.navbar-form {
    float: none !important;
  }

  /* since 3.1.0 */
  /* line 549, ../sass/app.scss */
  .navbar-collapse.collapse.in {
    display: block !important;
  }

  /* line 552, ../sass/app.scss */
  .collapsing {
    overflow: hidden !important;
  }

  /* menu collapsee css end*/
}
/*********************section hero home**************************/
/* line 562, ../sass/app.scss */
section.hero.cover {
  background-color: #62a5cf;
  overflow: hidden;
}

/****************section intro home****************************/
/* line 571, ../sass/app.scss */
section.introline {
  padding: 25px 0;
}
/* line 573, ../sass/app.scss */
section.introline .h3 {
  font-family: "Ubuntu", sans-serif;
  margin: 5px 0 0;
}
@media (max-width: 767px) {
  /* line 573, ../sass/app.scss */
  section.introline .h3 {
    font-size: 1.2rem;
  }
}
@media (max-width: 767px) {
  /* line 582, ../sass/app.scss */
  section.introline .more {
    text-align: center;
    margin-top: 15px;
  }
}

/****************section feed****************************/
/* line 593, ../sass/app.scss */
section.feed {
  overflow: hidden;
}
/* line 596, ../sass/app.scss */
section.feed .container-fluid {
  padding: 0;
}
/* line 600, ../sass/app.scss */
section.feed .flex-wrap {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
@media (max-width: 767px) {
  /* line 600, ../sass/app.scss */
  section.feed .flex-wrap {
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
  }
}
/* line 616, ../sass/app.scss */
section.feed .flex-wrap .flex-item {
  min-height: 500px;
  max-height: 500px;
  position: relative;
  background-color: #333;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
@media (max-width: 767px) {
  /* line 616, ../sass/app.scss */
  section.feed .flex-wrap .flex-item {
    min-height: 300px;
    max-height: 300px;
  }
}
/* line 637, ../sass/app.scss */
section.feed .flex-wrap .flex-item .caption {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  padding: 25px 40px;
  width: 100%;
}
@media (max-width: 767px) {
  /* line 637, ../sass/app.scss */
  section.feed .flex-wrap .flex-item .caption {
    padding: 15px 25px;
    background-color: rgba(0, 0, 0, 0.7);
  }
}
/* line 649, ../sass/app.scss */
section.feed .flex-wrap .flex-item .caption .item-title {
  margin: 10px 0;
  font-weight: 700;
  font-size: 1.4rem;
}
/* line 654, ../sass/app.scss */
section.feed .flex-wrap .flex-item .caption .item-title a {
  color: #fff;
}
@media (min-width: 1200px) {
  /* line 649, ../sass/app.scss */
  section.feed .flex-wrap .flex-item .caption .item-title {
    font-size: 1.8rem;
  }
}
@media (max-width: 767px) {
  /* line 649, ../sass/app.scss */
  section.feed .flex-wrap .flex-item .caption .item-title {
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 649, ../sass/app.scss */
  section.feed .flex-wrap .flex-item .caption .item-title {
    font-size: 1.2rem;
  }
}
/* line 671, ../sass/app.scss */
section.feed .flex-wrap .flex-item .caption .excerpt {
  font-size: 1.1rem;
}
@media (min-width: 992px) {
  /* line 671, ../sass/app.scss */
  section.feed .flex-wrap .flex-item .caption .excerpt {
    transition: all 0.7s ease-in-out;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
  }
}
@media (max-width: 767px) {
  /* line 671, ../sass/app.scss */
  section.feed .flex-wrap .flex-item .caption .excerpt {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 671, ../sass/app.scss */
  section.feed .flex-wrap .flex-item .caption .excerpt {
    display: none;
  }
}
/* line 694, ../sass/app.scss */
section.feed .flex-wrap .one {
  background-color: green;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 992px) {
  /* line 694, ../sass/app.scss */
  section.feed .flex-wrap .one {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
  }
}
/* line 709, ../sass/app.scss */
section.feed .flex-wrap .one:hover .caption .excerpt {
  opacity: 1;
  height: auto;
  max-height: 400px;
}
/* line 717, ../sass/app.scss */
section.feed .flex-wrap .two {
  background-color: red;
}
/* line 721, ../sass/app.scss */
section.feed .flex-wrap .two:hover .caption .excerpt {
  opacity: 1;
  height: auto;
  max-height: 400px;
}
/* line 729, ../sass/app.scss */
section.feed .flex-wrap .three {
  background-color: #101010;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
/* line 736, ../sass/app.scss */
section.feed .flex-wrap .three .flex-inner-wrap {
  height: 500px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}
@media (max-width: 767px) {
  /* line 736, ../sass/app.scss */
  section.feed .flex-wrap .three .flex-inner-wrap {
    height: 300px;
  }
}
/* line 751, ../sass/app.scss */
section.feed .flex-wrap .three .flex-inner {
  height: 50%;
  overflow: hidden;
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0;
  -ms-flex: 1 0;
  flex: 1 0;
}
/* line 760, ../sass/app.scss */
section.feed .flex-wrap .three .flex-inner.col1 {
  background-color: #202020;
}
/* line 764, ../sass/app.scss */
section.feed .flex-wrap .three .flex-inner.col1 .txt-table {
  display: table;
  height: 100%;
}
/* line 768, ../sass/app.scss */
section.feed .flex-wrap .three .flex-inner.col1 .txt-table .txt-cell {
  display: table-cell;
  vertical-align: middle;
  padding: 0 10%;
}
/* line 773, ../sass/app.scss */
section.feed .flex-wrap .three .flex-inner.col1 .txt-table .txt-cell p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.4rem;
}
@media (max-width: 767px) {
  /* line 773, ../sass/app.scss */
  section.feed .flex-wrap .three .flex-inner.col1 .txt-table .txt-cell p {
    font-size: 1.1rem;
  }
}

/****************section what we do***************************/
/* line 797, ../sass/app.scss */
section.what-we-do {
  padding: 60px 0;
  background-color: #f7f7f7;
}
/* line 801, ../sass/app.scss */
section.what-we-do .title-wrap .h1 {
  font-weight: 700;
  max-width: 50%;
  margin: 20px auto;
}
@media (max-width: 767px) {
  /* line 801, ../sass/app.scss */
  section.what-we-do .title-wrap .h1 {
    max-width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 801, ../sass/app.scss */
  section.what-we-do .title-wrap .h1 {
    max-width: 80%;
  }
}
/* line 815, ../sass/app.scss */
section.what-we-do .title-wrap .divider {
  height: 1px;
  width: 100%;
  background: #e1e1e1;
  display: block;
  max-width: 700px;
  margin: 40px auto;
}
/* line 823, ../sass/app.scss */
section.what-we-do .title-wrap .divider:after {
  content: "";
  width: 60px;
  height: 7px;
  display: block;
  background-color: #6fc7cb;
  margin: auto;
  position: relative;
  top: -3px;
}
/* line 835, ../sass/app.scss */
section.what-we-do .tab-row {
  padding: 30px 0;
}
@media (max-width: 767px) {
  /* line 839, ../sass/app.scss */
  section.what-we-do ul.nav {
    text-align: center;
  }
}
/* line 845, ../sass/app.scss */
section.what-we-do ul.nav li {
  margin-top: 0;
}
@media (max-width: 767px) {
  /* line 845, ../sass/app.scss */
  section.what-we-do ul.nav li {
    display: inline-block;
    margin: 5px;
  }
}
/* line 854, ../sass/app.scss */
section.what-we-do ul.nav a {
  background-color: transparent;
  color: #393939;
  font-size: 1.1rem;
  border-right: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
@media (max-width: 767px) {
  /* line 854, ../sass/app.scss */
  section.what-we-do ul.nav a {
    background-color: #e1e1e1;
    border: none;
  }
  /* line 866, ../sass/app.scss */
  section.what-we-do ul.nav a:hover {
    background-color: #6fc7cb;
    color: #fff;
  }
}
/* line 873, ../sass/app.scss */
section.what-we-do ul.nav li.active a {
  border-right: none;
  border-left: 5px solid #e1e1e1;
}
@media (max-width: 767px) {
  /* line 873, ../sass/app.scss */
  section.what-we-do ul.nav li.active a {
    background-color: #6fc7cb;
    border: none;
    color: #fff;
  }
}
/* line 883, ../sass/app.scss */
section.what-we-do ul.nav li.active a:hover, section.what-we-do ul.nav li.active a:focus {
  background-color: transparent;
  color: #393939;
}
@media (max-width: 767px) {
  /* line 883, ../sass/app.scss */
  section.what-we-do ul.nav li.active a:hover, section.what-we-do ul.nav li.active a:focus {
    background-color: #6fc7cb;
    color: #fff;
  }
}
@media (max-width: 767px) {
  /* line 895, ../sass/app.scss */
  section.what-we-do .tab-content {
    padding: 25px 0;
  }
}
/* line 902, ../sass/app.scss */
section.what-we-do .tab-content .txt .h5 {
  text-transform: uppercase;
  font-size: 1.1rem;
}
/* line 907, ../sass/app.scss */
section.what-we-do .tab-content .txt .desc {
  font-size: 1.2rem;
}

/****************section journey***************************/
/* line 917, ../sass/app.scss */
section.journey {
  padding-bottom: 60px;
}
/* line 920, ../sass/app.scss */
section.journey .journey-head {
  padding: 25px 0;
}
/* line 923, ../sass/app.scss */
section.journey .journey-head .h3 {
  margin: 0;
  font-weight: 700;
}
@media (max-width: 767px) {
  /* line 923, ../sass/app.scss */
  section.journey .journey-head .h3 {
    text-align: center;
  }
}
/* line 931, ../sass/app.scss */
section.journey .journey-head ul.nav {
  border: none;
  float: right;
}
@media (max-width: 767px) {
  /* line 931, ../sass/app.scss */
  section.journey .journey-head ul.nav {
    float: none;
    margin-top: 15px;
    text-align: center;
  }
}
/* line 942, ../sass/app.scss */
section.journey .journey-head ul.nav li {
  margin: 0;
}
@media (max-width: 767px) {
  /* line 942, ../sass/app.scss */
  section.journey .journey-head ul.nav li {
    display: inline-block;
    float: none;
    margin: 5px;
  }
}
/* line 951, ../sass/app.scss */
section.journey .journey-head ul.nav li a {
  color: #fff;
  border: none;
  padding: 5px 15px;
  font-size: 1.2rem;
  margin-left: 15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
@media (max-width: 767px) {
  /* line 951, ../sass/app.scss */
  section.journey .journey-head ul.nav li a {
    background-color: rgba(0, 0, 0, 0.15);
    font-size: 1rem;
    margin-left: 0px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 951, ../sass/app.scss */
  section.journey .journey-head ul.nav li a {
    margin-left: 5px;
  }
}
/* line 969, ../sass/app.scss */
section.journey .journey-head ul.nav li a:hover, section.journey .journey-head ul.nav li a:focus {
  background-color: transparent;
  color: #6fc7cb;
}
@media (max-width: 767px) {
  /* line 969, ../sass/app.scss */
  section.journey .journey-head ul.nav li a:hover, section.journey .journey-head ul.nav li a:focus {
    background-color: rgba(0, 0, 0, 0.15);
  }
}
/* line 982, ../sass/app.scss */
section.journey .journey-head ul.nav li.active a {
  background-color: transparent;
  color: #6fc7cb;
  font-weight: 700;
}
/* line 987, ../sass/app.scss */
section.journey .journey-head ul.nav li.active a:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 12px solid #fff;
  position: absolute;
  top: 51px;
  left: 35%;
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 1001, ../sass/app.scss */
  section.journey .journey-head ul.nav li.active a:after {
    display: none;
  }
}
@media (max-width: 767px) {
  /* line 982, ../sass/app.scss */
  section.journey .journey-head ul.nav li.active a {
    background-color: #6fc7cb;
    color: #fff;
    font-weight: 400;
  }
  /* line 1011, ../sass/app.scss */
  section.journey .journey-head ul.nav li.active a:after {
    display: none;
  }
}
/* line 1021, ../sass/app.scss */
section.journey .journey-content {
  padding: 80px 0 60px;
}
/* line 1026, ../sass/app.scss */
section.journey .journey-content .tab-pane .h1.title {
  margin: 20px 0;
  font-weight: 500;
}
/* line 1031, ../sass/app.scss */
section.journey .journey-content .tab-pane .txt {
  font-size: 1.1rem;
}
/* line 1035, ../sass/app.scss */
section.journey .journey-content .tab-pane img {
  float: right;
}
@media (max-width: 767px) {
  /* line 1035, ../sass/app.scss */
  section.journey .journey-content .tab-pane img {
    float: none;
    margin: 10px auto 40px;
  }
}

/****************section business***************************/
/* line 1054, ../sass/app.scss */
section.business .one-col, section.business .two-col {
  padding: 0;
}
/* line 1058, ../sass/app.scss */
section.business figure.fig {
  position: relative;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}
/* line 1063, ../sass/app.scss */
section.business figure.fig .img img {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 1068, ../sass/app.scss */
section.business figure.fig:hover .img img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
/* line 1075, ../sass/app.scss */
section.business figure.fig figcaption {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
/* line 1081, ../sass/app.scss */
section.business figure.fig figcaption .cap-table {
  display: table;
  height: 100%;
  width: 100%;
}
/* line 1087, ../sass/app.scss */
section.business figure.fig figcaption .cap-wrap {
  display: table-cell;
  padding: 0 10%;
  vertical-align: middle;
  color: #fff;
}
@media (max-width: 767px) {
  /* line 1087, ../sass/app.scss */
  section.business figure.fig figcaption .cap-wrap {
    padding: 0 5%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 1087, ../sass/app.scss */
  section.business figure.fig figcaption .cap-wrap {
    padding: 0 8%;
  }
}
@media (min-width: 1200px) {
  /* line 1087, ../sass/app.scss */
  section.business figure.fig figcaption .cap-wrap {
    padding: 0 15%;
  }
}
/* line 1105, ../sass/app.scss */
section.business figure.fig figcaption .cap-wrap h3 {
  font-weight: 500;
  font-size: 2.2rem;
  margin: 5px 0;
  line-height: 1.2;
  transition: all 0.4s ease;
}
@media (max-width: 767px) {
  /* line 1105, ../sass/app.scss */
  section.business figure.fig figcaption .cap-wrap h3 {
    font-size: 1.8rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 1105, ../sass/app.scss */
  section.business figure.fig figcaption .cap-wrap h3 {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  /* line 1105, ../sass/app.scss */
  section.business figure.fig figcaption .cap-wrap h3 {
    font-size: 3.5rem;
  }
}
/* line 1125, ../sass/app.scss */
section.business figure.fig figcaption .cap-wrap .txt {
  font-size: 1.2rem;
  max-width: 80%;
  margin-bottom: 30px;
  transition: all 0.4s ease;
}
@media (max-width: 767px) {
  /* line 1125, ../sass/app.scss */
  section.business figure.fig figcaption .cap-wrap .txt {
    font-size: 1.2rem;
    max-width: 100%;
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 1125, ../sass/app.scss */
  section.business figure.fig figcaption .cap-wrap .txt {
    font-size: 1.2rem;
    max-width: 100%;
    margin-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  /* line 1125, ../sass/app.scss */
  section.business figure.fig figcaption .cap-wrap .txt {
    max-width: 70%;
  }
}

/***************Footer*************************/
/* line 1156, ../sass/app.scss */
footer.site-footer {
  margin-top: 40px;
}
/* line 1160, ../sass/app.scss */
footer.site-footer .foot-up {
  color: #fff;
  background-color: #393939;
  padding: 40px 0;
}
/* line 1166, ../sass/app.scss */
footer.site-footer .foot-up .widget .widget-title.h3 {
  font-weight: 500;
  font-size: 1.3em;
  margin-bottom: 20px;
}
/* line 1172, ../sass/app.scss */
footer.site-footer .foot-up .widget ul.menu {
  padding-left: 0;
  list-style: none;
}
/* line 1177, ../sass/app.scss */
footer.site-footer .foot-up .widget a {
  color: #fff;
  transition: all 0.4s ease;
}
/* line 1180, ../sass/app.scss */
footer.site-footer .foot-up .widget a:hover {
  color: #cccccc;
}
/* line 1186, ../sass/app.scss */
footer.site-footer .foot-up .widget form.signup input {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 20px;
  font-family: "Ubuntu", sans-serif;
  height: auto;
  border-right: 0;
  -webkit-border-radius: 20px 0 0 20px;
  -moz-border-radius: 20px 0 0 20px;
  -ms-border-radius: 20px 0 0 20px;
  border-radius: 20px 0 0 20px;
}
/* line 1200, ../sass/app.scss */
footer.site-footer .foot-tech {
  padding: 20px 0;
  background-color: #2F2F2F;
  color: #fff;
}
/* line 1205, ../sass/app.scss */
footer.site-footer .foot-tech .tech-prod .item {
  margin: 0 15px;
}
/* line 1208, ../sass/app.scss */
footer.site-footer .foot-tech .tech-prod .item img {
  -webkit-filter: grayscale(1) brightness(2);
  filter: grayscale(1) brightness(2);
  transition: all 0.4s ease;
}
/* line 1213, ../sass/app.scss */
footer.site-footer .foot-tech .tech-prod .item img:hover {
  -webkit-filter: none;
  filter: none;
}
/* line 1221, ../sass/app.scss */
footer.site-footer .foot-copy {
  padding: 25px 0;
  background-color: #242424;
  color: #fff;
}
@media (max-width: 767px) {
  /* line 1221, ../sass/app.scss */
  footer.site-footer .foot-copy {
    padding: 15px 0;
  }
}
/* line 1230, ../sass/app.scss */
footer.site-footer .foot-copy p {
  margin-bottom: 0;
  font-size: 0.85rem;
}
@media (max-width: 767px) {
  /* line 1230, ../sass/app.scss */
  footer.site-footer .foot-copy p {
    text-align: center;
    margin: 5px 0;
  }
}

/************************Site inner pages***********************************/
/* line 1244, ../sass/app.scss */
section.inner-page-title {
  padding: 20px 0;
  margin-bottom: 40px;
}
/* line 1247, ../sass/app.scss */
section.inner-page-title h1.sec-title {
  margin: 10px 0;
  font-size: 1.6rem;
}
/* line 1253, ../sass/app.scss */
section.inner-page-title .breadcrumbs ul {
  margin: 20px 0 0 0;
  text-align: right;
}
@media (max-width: 767px) {
  /* line 1253, ../sass/app.scss */
  section.inner-page-title .breadcrumbs ul {
    text-align: left;
  }
}
/* line 1262, ../sass/app.scss */
section.inner-page-title .breadcrumbs li a {
  color: #fff;
}

/* line 1271, ../sass/app.scss */
.main-wrap .page-content img {
  margin: 20px 0;
}
/* line 1275, ../sass/app.scss */
.main-wrap .page-content p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}
/* line 1280, ../sass/app.scss */
.main-wrap .page-content .active-title .txt {
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
}
/* line 1285, ../sass/app.scss */
.main-wrap .page-content article.list-item {
  border-bottom: 1px solid #ededed;
  margin-bottom: 20px;
}
/* line 1289, ../sass/app.scss */
.main-wrap .page-content article.list-item .title {
  font-weight: 700;
}

/* line 1298, ../sass/app.scss */
.main-wrap aside.site-sidebar .widget {
  margin-bottom: 40px;
  background-color: #E9E9E9;
}
/* line 1302, ../sass/app.scss */
.main-wrap aside.site-sidebar .widget.content-area {
  background-color: transparent;
}
/* line 1306, ../sass/app.scss */
.main-wrap aside.site-sidebar .widget .widget-title {
  background-color: #333333;
  color: #fff;
  padding: 20px 30px;
}
@media (max-width: 767px) {
  /* line 1306, ../sass/app.scss */
  .main-wrap aside.site-sidebar .widget .widget-title {
    padding: 15px;
  }
}
/* line 1315, ../sass/app.scss */
.main-wrap aside.site-sidebar .widget .widget-title h3 {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2;
}
@media (max-width: 767px) {
  /* line 1315, ../sass/app.scss */
  .main-wrap aside.site-sidebar .widget .widget-title h3 {
    font-size: 1.2rem;
  }
}
/* line 1328, ../sass/app.scss */
.main-wrap aside.site-sidebar .widget .widget-content .txt {
  padding: 20px;
}
/* line 1332, ../sass/app.scss */
.main-wrap aside.site-sidebar .widget .widget-content form {
  margin: 20px 0;
}
/* line 1335, ../sass/app.scss */
.main-wrap aside.site-sidebar .widget .widget-content form input {
  border-color: #393939;
  border-width: 2px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  background-color: transparent;
  height: auto;
  padding: 10px 20px;
  color: #393939;
}
/* line 1346, ../sass/app.scss */
.main-wrap aside.site-sidebar .widget .widget-content p {
  font-size: 1.1rem;
}
