@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?rx7ti0');
	src:url('../fonts/icomoon.eot?#iefixrx7ti0') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?rx7ti0') format('truetype'),
		url('../fonts/icomoon.woff?rx7ti0') format('woff'),
		url('../fonts/icomoon.svg?rx7ti0#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-mobile:before {
	content: "\e600";
}
.icon-mail:before {
	content: "\e601";
}
